{%extends 'base.html'%}

{%block js%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/css/swiper.min.css">

{%endblock%}
{%block title%}
    首页
{%endblock%}

{%block banner%}
<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="http://img4.imgtn.bdimg.com/it/u=4278021155,669883833&fm=27&gp=0.jpg" alt=""></div>
        <div class="swiper-slide"><img src="http://img4.imgtn.bdimg.com/it/u=203542604,337352978&fm=27&gp=0.jpg" alt=""></div>
        <div class="swiper-slide"><img src="http://img2.imgtn.bdimg.com/it/u=233567230,1483272796&fm=27&gp=0.jpg" alt=""></div>
    </div>

    <!-- 如果需要导航按钮 -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

</div>
{%endblock%}
{%block jscode%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/js/swiper.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/js/swiper.min.js"></script>
<script>
  var mySwiper = new Swiper ('.swiper-container', {
    direction: 'vertical',
    loop: true,


    // 如果需要前进后退按钮
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },


  })
  </script>
{%endblock%}
